:root {
  --main-red-color: #ff0505;
  --main-light-grey-color: #fafafa;
  --main-grey-color: #bfbfbf;
  --main-dark-grey-color: #585858;
  --main-white-color: #fefefe;
  --main-deep-blue-color: #152a79;
  --main-blue-color: #3758d9;
  --main-green-color: #1ac03e;

  --main-text-color: #0a0a0a;
  --main-text-helper-color: var(--main-grey-color);
  --main-bg-color: #e9f3ff;
  --main-border-color: #e2e2e2;
  --main-hover-border-color: #333;
  --main-shadow-color: #eee;

  --border-radius-default: 10px;

  --main-card-margin: 15px;

  --font-size-h1: 22px;
  --font-size-xl: 30px;
  --font-size-md: 16px;
  --font-size-default: 14px;
  --font-size-sm: 13px;
}
